h1{
    color:peru;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
h2{
    color:purple;
    font-family: 'Mynerve', cursive;
    text-align: right;
}
h3{
    color:blue;
    text-align: center;

}
h4{
    color:green;
    text-align: center;

}
